# ==========================================
# Finly - Exemplo de Variáveis de Ambiente
# ==========================================

PORT=3001
NODE_ENV=production

# Servidor SMTP (Ex: Gmail com Senha de App)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=seu_email@dominio.com
SMTP_PASS=sua_senha_de_app_16_digitos

# Chave Secreta de Criptografia
APP_SECRET=sua_chave_secreta_aqui
